/* 
růžová #F2528D
žlutá #F2C84B
oranžová #F2811D
skoro bílá #F2F2F2
skoro černá #0D0D0D
} */

body {
    color: #0D0D0D;
    background-color: #F2F2F2;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    margin: 0 0;
}

h1 {
    font-size: 50px;
    color: #0D0D0D;
    margin-top: 10px;
}

h2 {
    font-size: 30px;
    color:#F2C84B;
    margin-top: 50px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    }

h4 {
    font-weight: normal;
font-size: 16px;
color: rgb(117, 117, 117);
}

a {
    color: #0D0D0D;
}

footer a {
    color: #F2F2F2;
}

header {
    background-image: url(obrazky/Pozadi.jpg);
    background-color: rgb(235, 235, 235);
    overflow: auto;
}

.portret {
    height: 200px;
    border: #F2F2F2 solid 10px;
    border-radius: 0 20px 0 20px;
    float: right;
    margin: 0 0 20px 40px;
}

.menu {
    margin:0;
    padding:0;
    text-align: center;
    background-color:#F2528D;
    
}
.menu a {
    color:#F2F2F2;
    text-decoration :none;
    padding: 20px 50px;
    display: inline-block;
}
.menu li {
    display:inline;
    display:inline-block;
}
.menu a:hover,
.menu a:focus {
    background-color: #F2811D;
}
.menu a:active {
    color: #0D0D0D;
    background-color: #F2F2F2;
}

section img {
    height: 50px;
    float: left;
    margin: 0 5px 0 0;
}

.mala_ikona {
    height: 20px;
    margin: 5px 5px 0 0;
}

footer {
    text-align: center;
    background-image: url(obrazky/paticka1.jpg);
    color: #F2F2F2;        
}

.hlavicka,
.paticka {
    padding: 15px 10%;
}

section,
header,
footer {
    padding: 0 10%;
}


