/* 
růžová #F2528D
žlutá #F2C84B
skoro černá #0D0D0D
} */

body {
    color: #0D0D0D;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    margin: 0 0;
}

h1 {
    font-size: 50px;
    color: #0D0D0D;
    margin-top: 10px;
}

h2 {
    font-size: 30px;
    color: #f16d9d;
    margin-top: 50px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    }

h4 {
    font-weight: normal;
    font-size: 16px;
    color: rgb(117, 117, 117);
}

a {
    color: #0D0D0D;
}

footer a {
    color: white;
}

header {
    background-image: url(obrazky/PozadiD.jpg);
    overflow: auto;
}

.portret {
    height: 200px;
    border: white solid 1px;
    border-radius: 15px;
    float: right;
    margin: 0 0 20px 40px;
}

.menu {
    margin:0;
    padding:0;
    text-align: center;
    background-color: #3a3a3a;
    
}
.menu a {
    color:#F2F2F2;
    text-decoration :none;
    padding: 10px 50px;
    display: inline-block;
}
.menu li {
    display:inline;
    display:inline-block;
}
.menu a:hover {
        background-image: url(obrazky/TlacitkoMenu.jpg);
        color:#3a3a3a;
}
    
.menu a:active {
    color: #0D0D0D;
    background-color: white;
}

section img {
    height: 50px;
    float: left;
    margin: 0 10px 0 0;
}

.mala_ikona {
    height: 20px;
    margin: 5px 5px 0 0;
}

footer {
    text-align: center;
    background-image: url(obrazky/PozadiDpat.jpg);
    color: #F2F2F2;  
    margin-top: 50px;     
}

.nahoru {
    margin-left: 30px;
}

.hlavicka,
.paticka {
    padding: 15px 10%;
}

section
 {
    padding: 0 10%;
}


